<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/img/template/carousel_top/eau.jpg" class="d-block w-100" alt="Plan d'eau">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/foyer.jpg" class="d-block w-100" alt="Foyer Logement">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/mairie.jpg" class="d-block w-100" alt="Mairie">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/media.jpg" class="d-block w-100" alt="Médiathèque">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/neige.jpg" class="d-block w-100" alt="Plan d'eau sous la neige">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/parc.jpg" class="d-block w-100" alt="Parc Pécourt">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/rue.jpg" class="d-block w-100" alt="Une rue Guesninoise">
    </div>
    <div class="carousel-item">
      <img src="/img/template/carousel_top/stade.jpg" class="d-block w-100" alt="Stade Barran">
    </div>
  </div>
</div>